{% extends 'admins/base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert"
             style="margin-top: 50px; align-self: center;">
            {{ form.errors | escape }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Создание товара</h1>
            <form action="{% url 'admins:admin_product_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row py-2">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="mb-1" for="{{ form.name.id_for_label }}">Название</label>
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="mb-1" for="{{ form.description.id_for_label }}">Описание</label>
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-lg-12">
                        <div class="custom-file">
                            {{ form.image }}
                            <label class="custom-file-label" for="{{ form.image.id_for_label }}">
                                Выберите изображение
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-lg-6">
                        <label class="mb-1" for="{{ form.price.id_for_label }}">Цена</label>
                        {{ form.price }}
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-lg-6">
                        <label class="mb-1" for="{{ form.quantity.id_for_label }}">Кол-во</label>
                        {{ form.quantity }}
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-lg-6">
                        <label class="mb-1" for="{{ form.category.id_for_label }}">Категория</label>
                        {{ form.category }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}