{% extends 'admins/base.html' %}

{% block content %}
<main>
        <div class="container-fluid">
            <h1 class="mt-4">Продукты</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Продукты
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Цена</th>
                                <th>Кол-во</th>
                                <th>Категория</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Цена</th>
                                <th>Кол-во</th>
                                <th>Категория</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for product in product_list %}
                                <tr>
                                    <td><a href="{% url 'admins:admin_product_update' product.id %}" style="color: dodgerblue">
                                        {{ product.name }}
                                    </a></td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.category.name }}</td>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admins:admin_product_create' %}">
                        <button class="btn btn-success">Создать товар</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}